*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:segoe UI,*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:segoe  UI,Arail;
}

body{
  background:white;
  color:black;
  padding-top:40px;
  text-align:center;
}

nav{
  position:fixed;
    top:0;
  width:100%;
    background:pink;
}

nav ul {
  justify-content: center;
  list-style:non;
  display: flex; 
  gap:250px; 
}

nav a{
  color:white;
  font-weight:bold;
 text-decoration: none;
}

.table{
  margin:18px auto;
  border: 4px solid gray;
  border-collapse:collapse;
  width:50%;
}
.table th{
  color: red;
  border:solid black;
}
.table td{
  border:solid black;
}
#ourmenue{
  padding-top:20px;
}
#contact{
  padding-top:20px; 
}
table img{
  width:100px;
  hight:100px;
  object-fit: cover; 
}


