*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: segoe UI,Arial;
}

body{
  background:white;
  color:black;
  padding-top:60px;
  text-align:center;
}

nav{
  position:fixed;
  top:0;
  width:100%;
  background-color:pink;
}

nav ul{
  justify-content: center;
  list-style: none;
  display: flex; 
  gap:250px;
}

nav a{
  color:white;
  font-weight:bold;
  text-decoration:none;
}

.table{
  margin:18px auto;
  border:4px solid gray;
  border-collapse:collapse;
    width:50%;
}
.table th{
  border:4px solid black;
  color:white;
  background:pink;
}
.table td{
  border:4px solid black;
  color:black;
}

#ourmenu{
  padding-top:40px;
}
#contactform{
  padding-top:40px;
}

.table img{
  widh:100%;
  hight:100%;
  object-fit: cover; 
}
#logo{width:40%
}
